* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: black;
    overflow-x: hidden;
    height: 100vh;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('assets/stars.png');
    animation: move-stars 50s linear infinite;
}

.twinkling {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('assets/twinkling.png');
    animation: move-twinkling 100s linear infinite;
}

@keyframes move-stars {
    0% { background-position: 0 0; }
    100% { background-position: 10000px 10000px; }
}

@keyframes move-twinkling {
    0% { background-position: 0 0; }
    100% { background-position: 5000px 5000px; }
}

.content {
    position: relative;
    z-index: 1;
    padding: 30px;
}

.main-heading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}

h2, h3, h4 {
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

.step, .task-list, .sql-copy {
    margin-bottom: 40px;
}

.image-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

a {
    color: #f0f0f0;
    text-decoration: none;
    border-bottom: 1px solid #f0f0f0;
}

a:hover {
    color: #ff00ff;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #ffcc00;
}

@media screen and (max-width: 768px) {
    .image-container {
        width: 100%;
        margin: 10px 0;
    }
    img {
        max-width: 100%;
    }
}

